################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CelesteMapDecoder/v15
/bin
/obj
/CelesteMapDecoder.csproj.user
